.q-table__top,
thead tr:first-child th{
      background-color: var();
}

thead{
      color: white;
      background-color: var(--azul-claro);
}

tbody tr td{
      padding: 20px !important;
      border: none !important;
}

.rowTeste{
      background-color: black;
}