.q-table {
      box-sizing: initial;
      border-spacing: 0px 10px !important;
      border-radius: 10px !important;
      padding: 0px 5px ;
      border-collapse: separate;
}

.q-table__container {
      background-color: #dce0e6 !important;
}

.tituloTabela {
      font-size: 22px;
      font-weight: 600;
}

.q-table>tbody>tr {
      background-color: white;
}

.tituloEditaRoteador {
      font-size: 20px;
      margin: 0 0 10px 2px;
}

.q-table td:first-child {
      border-left-style: solid;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
}

.q-table td:last-child {
      border-right-style: solid;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
}